<div fxLayout="column" fxFlexFill class="h-100">
  <mat-toolbar class="navbar-color mat-elevation-z8 p-0" fxLayout="row" fxLayoutAlign="start stretch" style="z-index: 2">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>

    <!--      <span class="spacer"></span>-->
    <mat-icon>calendar_month</mat-icon>
    <span class="spacer"></span>
    <button mat-raised-button
            matTooltip="Today"
            matTooltipPosition="right"
            aria-label="Button that displays a tooltip when focused or hovered over">
      Today
    </button>
    <span class="spacer"></span>
    <div class="current-date">
      <h2>{{currentDate}}</h2>
    </div>
  </mat-toolbar>

  <mat-drawer-container fxFlex autosize class="background h-100">
    <mat-drawer #drawer class="w-40">
      <div fxLayout="column">
        <app-calendar></app-calendar>
      </div>
    </mat-drawer>

    <!--PAGES-->
    <div>
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>
